@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-: 400;
  font-style: normal;
}
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 9376px;
  width: 1920px;
}

#head_inner {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  z-index: 300;
}
#head_inner #logo {
  margin-top: 28px;
  margin-left: 140px;
  float: left;
}
#head_inner #logo a {
  display: inline-block;
  width: 184px;
  height: 37px;
  background: url(/images/logo_02.png) no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
  transition: all 0.2s ease-in-out;
}
#head_inner #logo a:hover {
  background-position: 0 -37px !important;
}
#head_inner #gnb {
  display: inline-block;
}
#head_inner #gnb li {
  float: left;
  margin-left: 77px;
  margin-top: 36px;
}
#head_inner #gnb a {
  text-decoration: none;
  color: #fff;
  font-family: Pretendard-Bold;
  font-size: 19px;
}
#head_inner #gnb a:hover {
  color: #ff8500;
}
#head_inner #top {
  float: right;
  margin-right: 160px;
  margin-top: 41px;
}
#head_inner #top li {
  float: left;
  margin-left: 39px;
  margin-bottom: 5px;
}
#head_inner #top a {
  text-decoration: none;
  color: #fff;
  font-family: Pretendard-Medium;
  font-size: 16px;
}
#head_inner #top a:nth-child(1) {
  text-decoration: none;
  margin-top: -5px;
}
#head_inner #top i {
  margin-left: 10px;
}
#head_inner #top .menu {
  border-top: 2px #fff;
}
#head_inner #top .menu a {
  display: inline-block;
}
#head_inner #top .menu i {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
}

#head_inner.scrolled {
  background: #fff;
  transition: all 0.4s ease-in-out;
}
#head_inner.scrolled #logo a {
  background-position: 0 bottom;
}
#head_inner.scrolled #gnb a {
  color: #333;
  font-family: Pretendard-Bold;
}
#head_inner.scrolled #gnb a:hover {
  color: #ff8500;
}
#head_inner.scrolled #top a {
  color: #333;
  font-family: Pretendard-Medium;
}
#head_inner.scrolled #top a:hover {
  color: #ff8500;
}
#head_inner.scrolled #top .menu i {
  background: #333;
}

main {
  margin: 0 auto;
}
main #main_banner video {
  position: relative;
  height: 1080px;
}
main #main_banner .main_t {
  position: absolute;
  top: 379px;
  left: 278px;
  font-size: 18px;
  color: #fff;
}
main #main_banner h3 {
  position: absolute;
  top: 439px;
  left: 278px;
  line-height: 60px;
  font-size: 50px;
  color: #fff;
  font-family: Pretendard-Bold;
}
main #main_banner h4 {
  position: absolute;
  top: 600px;
  left: 278px;
  font-size: 22px;
  color: #fff;
}
main #main_banner .more {
  position: absolute;
  top: 700px;
  left: 285px;
  font-size: 14px;
  color: #fff;
  padding: 8px 17px;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all 0.3s ease-out;
}
main #main_banner .more a {
  text-decoration: none;
  color: #fff;
}
main #main_banner .more:hover {
  background: #fff;
}
main #main_banner .more:hover a {
  color: #ff8500;
}
main #product {
  width: 100%;
  height: 1136px;
  border-radius: 50px 50px 0 0;
  background: #f6f6f6;
  z-index: 99;
  position: relative;
  margin-top: -50px;
}
main #product h1 {
  font-size: 50px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  position: absolute;
  top: 215px;
  left: 278px;
}
main #product .medi {
  position: absolute;
  top: 355px;
  left: 280px;
}
main #product .medi li {
  display: inline-block;
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #DBDBDB;
  border-bottom: 3px solid #DBDBDB;
  margin-right: 23px;
  padding-bottom: 11px;
  width: 120px;
  text-align: center;
}
main #product .medi li:first-child {
  color: #ff8500;
  border-bottom: 3px solid #ff8500;
}
main #product .medi_go {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  position: absolute;
  top: 349px;
  right: 428px;
}
main #product .medi_go li {
  display: inline-block;
  margin-right: 30px;
}
main #product .medi_go li:first-child::before {
  content: url("../images/shopping.png");
  padding-right: 10px;
}
main #product .medi_go li:last-child::before {
  content: url("../images/medicine.png");
  padding-right: 10px;
}
main #product .more {
  background-color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 353px;
  right: 278px;
}
main #product .more a {
  font-size: 16px;
  font-family: Pretendard-Bold;
  color: #707070;
  line-height: 45px;
  margin-left: 20px;
}
main #product .more i {
  color: #fff;
  background: #ff8500;
  padding: 6px;
  border-radius: 50px;
  margin-left: 17px;
  margin-top: 7px;
}
main #product_j {
  position: absolute;
  top: 490px;
  left: 299px;
  width: calc(100% - 498px);
}
main #product_j #p_j {
  width: 100%;
}
main #product_j #p_j .jp01 {
  background: #fff;
  width: 320px;
  height: 444px;
  border-radius: 51px;
}
main #product_j #p_j .jp01 img {
  margin-left: 20px;
  margin-top: 36px;
}
main #product_j #p_j .jp01 a {
  font-size: 23px;
  font-family: Pretendard-Bold;
  color: #000;
  text-align: center;
}
main #product_j #p_j .jp01 p {
  font-size: 15px;
  font-family: Pretendard-Medium;
  color: #a1a1a5;
  margin-top: 10px;
  text-align: center;
}
main #best #best_inner {
  position: relative;
}
main #best #best_inner .inner {
  background: #F6F6F8;
  width: 812px;
  height: 404px;
  border-radius: 40px;
  position: absolute;
  top: 212px;
  right: 140px;
  transition: all 0.6s ease-in-out;
  transform: translateY(100px);
  opacity: 0;
}
main #best #best_inner .inner img {
  position: absolute;
  top: 62px;
  left: 19px;
}
main #best #best_inner .inner .button {
  background: #ff8500;
  width: 100px;
  height: 21px;
  border-radius: 8px;
  margin: 95px 324px 0 387px;
}
main #best #best_inner .inner .button p {
  font-family: Pretendard-Medium;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-left: 14px;
}
main #best #best_inner .inner .best_text {
  position: absolute;
  top: 130px;
  left: 387px;
}
main #best #best_inner .inner .best_text h1 {
  font-family: Pretendard-Bold;
  color: #000;
  font-size: 25px;
  margin-top: 14px;
}
main #best #best_inner .inner .best_text p {
  font-size: 15px;
  color: #9a9a9a;
  font-family: Pretendard-Medium;
  display: inline-block;
  margin-top: 13px;
}
main #best #best_inner .inner .best_text p:nth-child(2) {
  margin-right: 31px;
}
main #best #best_inner .inner .best_text .t1 {
  margin-top: 38px;
  font-family: Pretendard-Medium;
  font-size: 18px;
  color: #505050;
}
main #best #best_inner .inner .best_text .t1 li {
  line-height: 21px;
  margin-top: 13px;
}
main #best #best_inner .inner.show {
  transform: translateY(0);
  opacity: 1;
}
main #group .esg {
  width: 100%;
}
main #group .esg img {
  margin-top: 239px;
  margin-left: 140px;
  position: relative;
}
main #group .esg .dt li {
  font-family: Pretendard-Bold;
  color: #ff8500;
}
main #group .esg .dt li h3 {
  color: #000;
  font-size: 50px;
}
main #group .esg .dt li p {
  color: #000;
  font-size: 25px;
  font-family: Pretendard-Medium;
}
main #group .esg .dt li p strong {
  font-family: Pretendard-Bold;
}