@charset "utf-8";


$main : #ff8500;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font- : 400;
    font-style: normal;
}
.clear_fix::after{content: ''; display: block; clear:both}
a{text-decoration: none; color:inherit; }
html{height: 9376px; width:1920px;}



#head_inner{ position:fixed; width:100%; height:80px; 
    padding: 0 50px;  z-index:300; 
    #logo{margin-top: 28px; margin-left:140px; float: left;}
    #logo a{display: inline-block;width: 184px; height:37px; 
        background: url(../images/logo_02.png) no-repeat;
        background-size: 100% auto; text-indent:-9999px;
        transition: all .2s ease-in-out;  }
    #logo a:hover{background-position:0 -37px !important;}
    #gnb{display: inline-block;
        li{float: left;   margin-left: 77px;
            margin-top: 36px;}
        a{text-decoration: none; color: #fff; font-family: Pretendard-Bold;
            font-size: 19px;}
        a:hover{color:$main;}
        }//end gnb

    #top{float: right; margin-right: 160px; margin-top: 41px; 
        li{float: left; margin-left:39px; margin-bottom: 5px;}
        a{text-decoration:none; color: #fff; font-family: Pretendard-Medium; font-size:16px;}
        a:nth-child(1){text-decoration:none; margin-top: -5px;}
        i{margin-left:10px;}
        .menu{border-top: 2px  #fff;
            a{display: inline-block;}
            i{display: block; width: 28px; height: 2px; background: #fff;
                margin: 5px 0; }
        
        }//end .menu
    }// end top
}//end head_inner

#head_inner.scrolled{ background: #fff; transition: all .4s ease-in-out; 
    #logo{   
        a{background-position:0 bottom ;}
    }//end logo

    #gnb{
        a{color: #333; font-family: Pretendard-Bold;}
        a:hover{color: $main;}
    }//end gnb
    #top{
        a{color: #333; font-family: Pretendard-Medium;}
        a:hover{color:$main;}
        .menu{
            i{background: #333;}
        }
    }//end top
}//end head_inner.scrolled 


main{margin: 0 auto; 
    #main_banner{
    
    video{position: relative; height: 1080px;}
    .main_t{position: absolute; top: 379px; left: 278px; font-size: 18px; color: #fff;}
    h3{position: absolute; top: 439px; left: 278px; line-height: 60px;
        font-size: 50px; color: #fff; font-family: Pretendard-Bold; }
    h4{position: absolute; top: 600px; left: 278px; font-size: 22px; color: #fff; }
    .more{position: absolute; top: 700px; left: 285px; font-size: 14px; color: #fff;
    padding: 8px 17px; border: 1px solid#fff; border-radius: 30px;  transition: all .3s ease-out;
    a{text-decoration: none; color: #fff;}
    }
    .more:hover{ 
        background: #fff; 
        a{color:$main;}
    }
    }//end banner

    #product{width: 100%; height: 1136px; border-radius: 50px 50px 0 0;
        background: #f6f6f6; z-index: 99; position: relative; margin-top: -50px;
        h1{font-size: 50px; font-family: Pretendard-Bold; color: #ff8500; position: absolute;
        top: 215px; left: 278px;}
        .medi{ position: absolute; top: 355px; left: 280px;
             li{display: inline-block; font-size: 20px; font-family: Pretendard-Bold; color: #DBDBDB;
            border-bottom: 3px solid #DBDBDB; margin-right: 23px; padding-bottom: 11px; width: 120px; text-align: center;}
            li:first-child{color: #ff8500; border-bottom: 3px solid #ff8500;}
            }
        .medi_go{font-size: 20px; font-family: Pretendard-Bold; color: #ff8500; position: absolute; top: 349px; right: 428px;
        li{display: inline-block; margin-right: 30px;}
            li:first-child::before{content: url("../images/shopping.png"); padding-right: 10px;}
            li:last-child::before{content: url("../images/medicine.png"); padding-right: 10px;}
            }//end medi_go
    .more{ background-color: #fff; width: 120px; height:40px; border-radius: 50px;
         position: absolute; top: 353px; right: 278px;
        a{font-size: 16px; font-family: Pretendard-Bold; color: #707070;
            line-height:45px; margin-left:20px;}
        i{color: #fff; background: #ff8500; padding: 6px; border-radius: 50px; margin-left: 17px; margin-top:7px;}
        
        }//end more
    }//end product

    
    #product_j{position: absolute; top: 490px; left:299px; 
        width:calc(100% - 498px);
        #p_j{width:100%;
            .jp01{background: #fff; width:320px; height:444px; border-radius:51px;
                img{margin-left:20px; margin-top: 36px;}
                a{font-size: 23px; font-family: Pretendard-Bold; color:#000; text-align: center;}
                p{font-size:15px; font-family: Pretendard-Medium; color:#a1a1a5; 
                    margin-top: 10px; text-align: center;}
                

            }//end jp01
        }//end #p_j
    }//end product-j
    
    #best{
        #best_inner{
            position:relative;
            .inner{background:#F6F6F8; width:812px; height:404px; border-radius:40px;
                position: absolute; top:212px; right:140px;
                transition: all .6s ease-in-out;
                transform:translateY(100px); opacity:0;
                img{position: absolute; top:62px; left: 19px;}
                .button{background:#ff8500; width:100px; height:21px; border-radius:8px;
                     margin:95px 324px 0 387px;
                    p{font-family: Pretendard-Medium; color:#fff; font-size:14px; 
                        line-height: 20px; margin-left:14px;}
                }//end button
                .best_text{position: absolute; top:130px; left:387px;
                    h1{font-family: Pretendard-Bold; color:#000; font-size: 25px; margin-top: 14px;}
                    p{font-size: 15px; color:#9a9a9a;font-family: Pretendard-Medium; 
                        display: inline-block; margin-top: 13px;}
                    p:nth-child(2){margin-right: 31px;}
                    .t1{margin-top: 38px;font-family: Pretendard-Medium; font-size:18px; color:#505050;
                       li{line-height: 21px; margin-top: 13px;} 
                    }
                }//end best_text
            }//end 
            .inner.show{transform:translateY(0); opacity:1;}
        }//.end best_inner
    }//end best

    #group{
        .esg{position: relative;
            img{ margin-top:239px; margin-left: 140px;}
            .dt{position: absolute; top: 329px; left:278px;
                li{font-family: Pretendard-Bold; color:#ff8500; font-size:25px;
                    h3{color: #000; font-size: 50px; margin-top: 14px;}
                    p{color: #000; font-size: 25px; font-family: Pretendard-Medium;
                        margin-top: 40px;
                    strong{font-family: Pretendard-Bold;}}
                }//end li
            }//end dt
        }//end esg
    }//end group

    #vison{
        .content{position: relative;
            .sijang{
                background:url("../images/VISION.png") no-repeat; height:370px; margin:24px 0 0 47px;
                li{
                    img{position: absolute; top:297px; left:278px;}
                    h1{
                        font-family: Pretendard-Bold; color:#ff8500; font-size:30px;
                        position: absolute; top:495px; left: 713px;
                    }
                    p{
                        font-size:24px; font-family: Pretendard-Medium; line-height: 35px;
                        margin-top:40px; position: absolute; top: 570px; left:713px;
                    }
                }//end li
            }//end sijang

            .hwa{
                li{
                    img{position: absolute; top:820px; right:278px;}
                    h1{
                        position: absolute; top: 1025px; right:719px;
                        font-family: Pretendard-Bold; color:#ff8500; font-size:30px;  
                    }
                    p{
                        font-size:24px; font-family: Pretendard-Medium; line-height: 35px;
                        margin-top:40px; text-align: right;  position: absolute; top:1100px; left:507px;
                    }
                }//end li
            }//end hwa

            .injea{ background:url("../images/GLOBAL.png") no-repeat ; height:370px; margin:1450px 0 0 190px;
                li{
                    img{position: absolute; top:1358px; left:278px;}
                    h1{
                        position: absolute; top:1603px; left:737px;
                        font-family: Pretendard-Bold; color:#ff8500; font-size:30px;  
                    }
                    p{
                        font-size:24px; font-family: Pretendard-Medium; line-height: 35px;
                        margin-top:40px;  position: absolute; top:1678px; left:737px;
                    }
                }//end li
            }//end injea
        }//end content
    }//end vison

    #rd_inner{ height:1000px;

        #rd_back{background:url(../images/rnd-bg.png) no-repeat; background-size: cover; 
            position: absolute; right: 0;}

        #rt01{
            h1{font-size: 95px; font-family: Pretendard-Bold;
            color:#fff;}
            h2{font-size:36px; font-family: Pretendard-Bold;
            color:#fff;}
            p{font-size:20px; font-family: Pretendard-Medium;
            color:#fff;}
        }//end rt01

    }//end rd_inner 



}//end main

